<div
  class="show-container"
  ng-init="vm.isFeaturedShow && show.Artists[0].songPreviews ? vm.playSong(show, index) : null"
  ng-mouseenter="vm.isFeaturedShow ? null : vm.playSong(show.Artists, index); vm.getPlaceData(show.Artists, index)"
  ng-mouseleave="vm.isFeaturedShow ? null : vm.stopSong(index)"
>
  <!-- <div class="venue-image show{{index}}"></div> -->
  <img class="showImage{{index}} artwork" ng-src="{{show.Artists[0].artistArtworkUrl}}"/>
  <p class="byline">{{vm.byline}}</p>
  <input type="text" class="musicPlayer{{index}}" ng-value="{{vm.currentSongTime}}">
  <div class="caption z-depth-1">{{show.Artists[0].Name}}
    <p>{{show.Date}}</p>
  </div>

</div>
